<footer class="site-footer">
  <div class="container container-footer">
    <div class="footer-links">
      <div class="logo">
        <a href="http://www.codeandomexico.org">
          <img src="<%= sails.config.globals.cmx.cmx_logo %>">
        </a>
        <h5>2013 - 2014 C&iacute;vica Digital A.C.</h5>
      </div>
      <div class="all-links">
        <ul class="unstyled">
          <li><a href="/about">Acerca de Codeando México</a></li>
          <li><a href="http://docs.ckan.org/en/ckan-2.2/api.html">API CKAN</a></li>
          <li><a href="http://www.codeandomexico.org/retos">Retos</a></li>
          <li><a href="mailto:equipo@codeandomexico.org">Contacta con nostros</a></li>
          <li>Twitter: <a href="http://twitter.com/codeandomexico" target="_blank">@CodeandoMexico</a></li>
        </ul>
        <ul class="unstyled">
          <li><a href="http://ckan.org">Powered by CKAN</a></li>
          <li><a href="http://www.okfn.org/">Open Knowledge Foundation</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
