  <div class="navbar">
    <div class="navbar-inner">
      <div class="xcontainer">

        <a class="logo brand" href="/"><img src="<%= sails.config.globals.cmx.cdadd_logo %>" alt=" <%= sails.config.globals.cmx.site_title%>" title="<%= sails.config.globals.cmx.site_title %>" /></a>

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>


        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <ul class="nav">
              <li><a href="https://github.com/CodeandoMexico">Apps</a></li>
              <li><a href="http://www.codeandomexico.org/retos">Retos</a></li>
          </ul>
          <ul class="nav pull-right">
            <% if (req.session.user) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="username"><%= req.session.user.screen_name %></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/user/signout">Cerrar sesi&oacute;n</a></li>
                </ul>
              </li>
            <% } else { %>
                <li><a href="/user/signin">Iniciar sesi&oacute;n</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
