<div class="disclaimer">
  <h4>Solicita la apertura de los datos m&aacute;s importantes</h4>
  <p>El Centro de apertura de datos es una lista curada y priorizada por la comunidad para abrir recursos con datos p&uacute;blicos de M&eacute;xico perdidos alrededor del Internet o en sitios de gobierno</p>
  <a href="#">M&aacute;s informaci&oacute;n</a>
</div>
<div class="container">
  <div class="row actions">
    <div class="col-md-11">
      <h1 class="site-title">Datos por abrir
        <span class="btn-group pull-right">
          <button type="button" class="btn btn-hollow btn-purple btn-wide" data-container="body" data-toggle="popover" data-placement="bottom">
            Solicitar Datos
          </button>
        </span>
      </h1>
    </div>
  </div>
  <ul class="requested-data-list">
    <% for(var i = 0; i < requests.length; i++) { %>
      <li>
	    <% console.log('x') %>
        <%- partial('partials/request', requests[i]) %>
      </li>
    <% } %>
  </ul>
</div>
