
<div class="container">
  <div class="row actions">
    <div class="pseudo-header">
    </div>
  </div>
    <ul class="nav nav-tabs upper-tabs">
      <li class=""><a href="/request/index?sort_by=newest">M&aacute;s recientes</a></li>
      <li class=""><a href="/request/index?sort_by=most_votes">M&aacute;s votadas</a></li>
      <li class="li-search">
        <form action="/request/search" method="GET">
          <input type="text" name="q" placeholder="Buscar..."></input>
        </form>
      </li>
    </ul>
  <ul class="requested-data-list">
    <%- partial('partials/requestFromView', {request: request}) %>
  </ul>
</div>

<%- partial('partials/voteForm.ejs') %>
