<div id="main-content-div" class="container">

  <div>
    <%- partial('partials/tabs_n_search_bar', {show_search_bar: false}) %>
  </div>

  <ul class="requested-data-list">
    <%- partial('partials/request_in_view', {request: request}) %>
  </ul>

</div>

<%- partial('partials/vote_form.ejs') %>
