<div id="main-content-div" class="container">

  <div>
    <%- partial('partials/return_n_social', {request: request}) %>
  </div>

  <ul class="requested-data-list rounded">
    <%- partial('partials/request_in_view', {request: request}) %>
  </ul>

</div>

<%- partial('partials/vote_form.ejs') %>
