<div id="header" class="row">
  <a id="header-anchor" href="http://datamx.io">
    <img id="header-image" alt="datamx.io" src="http://i.imgur.com/weQNDQL.png" />
  </a>
  <ul class="header-navigation" id="header-navigation">
    <li>Datos</li>
    <li>Organizaciones</li>
    <li>Apps</li>
    <li>Centro de Apertura</li>
    <li><a href="/user/signin">Login con Twitter</a></li>
  </ul>
</div>
