<div id="header" class="row">
  <a id="header-anchor" href="http://datamx.io">
    <img id="header-image" alt="datamx.io" src="http://i.imgur.com/weQNDQL.png" />
  </a>
  <ul class="header-navigation" id="header-navigation">
    <li>Datos</li>
    <li>Organizaciones</li>
    <li>Apps</li>
    <li><a href="http://apertura-de-datos.herokuapp.com/">Centro de Apertura</a></li>
  </ul>
  <span class="header-login">
    <% if (!req.session.user) { %>
      <a href="/user/signin">Iniciar Sesi&oacute;n&nbsp;&nbsp;</a>
    <% } else { %>
      <img class="user-profile-picture" width="30" height="30" src="<%= req.session.user.profile_image_url %>"/>
      <a href="/user/signout"><%= req.session.user.name %>&nbsp;&nbsp;</a>
    <% } %>
  </span>
</div>
