<div id="header-responsive" class="row">
  <div id="header-responsive-col" class="col-md-12">
    <a class="header-logo-anchor" href="http://datamx.io">
      <img class="header-logo-image" alt="datamx.io" src="http://i.imgur.com/weQNDQL.png" />
    </a>
    <div id="header-navigation-responsive">
      <a id="show-left-push" href="#">
        <i class="glyphicon glyphicon-th"></i>
      </a>
    </div>
  </div>
</div>



<div id="header" class="row">
  <a id="header-logo-anchor" href="http://datamx.io">
    <img id="header-logo-image" alt="datamx.io" src="http://i.imgur.com/weQNDQL.png" />
  </a>
  <ul class="header-navigation" id="header-navigation">
    <li>Datos</li>
    <li>Organizaciones</li>
    <li>Apps</li>
    <li><a href="http://apertura-de-datos.herokuapp.com/">Centro de Apertura</a></li>
  </ul>
  <div class="header-login">
    <% if (!req.session.user || typeof req.session.user === 'undefined') { %>
      <ul id="header-login-actions">
        <li>
          <a href="/user/signin">Iniciar Sesi&oacute;n</a>
        </li>
      </ul>
    <% } else { %>
      <ul id="header-login-actions">
        <li>
          <img class="user-profile-picture" width="30" height="30" src="<%= req.session.user.profile_image_url %>"/>
        </li>
        <li>
          <button id="popover-login" data-toggle="popover" data-content="">
            <%= req.session.user.name %>
          </button>
        </li>
        <li>
          <a href="/user/signout"><i class="glyphicon glyphicon-log-out"></i></a>
        </li>
      </ul>
    <% } %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#popover-login').popover({
    trigger: 'focus',
    placement: 'bottom',
    html: true,
    content: '<a style="color:black;" href="/user/signout">Logout</a>',
  });
});
</script>

