<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Navegaci&oacute;n</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://datamx.io/" target="_blank" id="navbar-logo" class="navbar-brand">
        <img src="/images/datamx_dark.png" width="194" height="45"/>
      </a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="http://datamx.io/dataset">Datos</a>
        </li>
        <li>
          <a href="/preguntas-frecuentes">Preguntas Frecuentes</a>
        </li>
        <% if (req.session.user) { %>
        <li>
          <a title="Mi perfil" href="/perfil">
            <img class="user-profile-picture" width="30" height="30" src="<%= req.session.user.profile_image_url %>"/>
          </a>
        </li>
        <li>
          <a title="Logout" href="/user/signout"><i class="glyphicon glyphicon-log-out"></i></a>
        </li>
        <% } else { %>
        <li>
          <a href="/user/signin">Iniciar Sesi&oacute;n</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
