<div id="intro" class="row">
  <div class="container">
    <div id="intro-text-col" class="col-md-12">
      <div class="intro-important">
        Solicita la apertura de datos
      </div>
      <div>
        El centro de apertura de datos (CAD) es una lista curada y priorizada por la comunidad para abrir recursos con datos p&uacute;blicos de M&eacute;xico, perdidos alrededor del Internet o en sitios del gobierno.
      </div>
      <div>
        <a id="intro-link" href="" target="_blank">M&aacute;s informaci&oacute;n</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="intro-btn-col" class="col-md-12">
      <button type="button" id="request-btn" class="btn btn-hollow btn-purple btn-wide" data-container="body" data-toggle="modal" data-target="#requestFormModal">
        Solicitar Datos
      </button>
    </div>
  </div>
</div>
