<!DOCTYPE html>
<html>
  <head>
    <title>Datamx | Centro de Apertura de Datos</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/application.css">
    <link rel="stylesheet" href="/styles/cbp.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  <!-- Facebook meta for sharing -->
  <meta property="og:site_name" content="datamx.io - Centro de Apertura de Datos"/>

  </head>

  <body class="cbp-spmenu-push">
    <div id="super-container">
      <%- partial('header') %>
      <%- body %>
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->


      <!--SCRIPTS-->
      <script src="/js/dependencies/bootstrap.min.js"></script>
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/cbp.js"></script>
      <script src="/js/classie.js"></script>
      <!--SCRIPTS END-->
      <div class="clearfooter"></div>
    </div>
    <%- partial('footer') %>
  </body>
</html>
