<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/application.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/activatePopover.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
