<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <h3>datamx.io</h3>
  <a href="#">Datos</a>
  <a href="#">Organizaciones</a>
  <a href="#">Apps</a>
  <a href="#">Retos</a>
</nav>
