<form action="/user/login" method="POST">
  <input type="text" name="email">
  <input type="password" name="password">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <input type="submit">
</form>
