<div class="modal fade" id="youMustLoginModal" tabindex="-1" role="dialog" aria-labelledby="youMustLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title modal-centered">
            Inicia sesi&oacute;n primero
          </h4>
        </div>
        <div class="modal-body">
          <div class="wide-centered-text">
            <a href="/user/signin">
              <img src="/images/sign-in-with-twitter-gray.png">
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
