<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <h3>
    <% if (req.session.user) { %>
      <button onclick="window.location.href='/user/signout';" class="cbp-btn">Cerrar sesi&oacute;n</button>
      <a class="cbp-regular-anchor" title="Mi perfil" href="/perfil">
        <img class="user-profile-picture-responsive" width="30" height="30" src="<%= req.session.user.profile_image_url %>"/>
      </a>
    <% } else { %>
      <button onclick="window.location.href='/user/signin';" class="cbp-btn">Iniciar sesi&oacute;n</button>
    <% } %>
  </h3>
  <a href="http://datamx.io/dataset">Datos</a>
  <a href="http://datamx.io/organization">Organizaciones</a>
  <a href="http://apertura.datamx.io">Centro de Apertura</a>
</nav>
