<ul class="rrssb-buttons clearfix undecorated">
  <a href="/">
    <li class="inline left" style="font-size:31.5px;">
      <i class="glyphicon glyphicon-share-alt icon-flipped"></i>
    </li>
  </a>
</ul>
