<div class="container-fluid">
  <div class="faq row">
    <div class="col-md-12">
      <h3 class="title">
        Preguntas frecuentes
      </h3>
      <div class="faq">
        <ul>
          <li>
            <span class="faq-question">
              ¿Cuál es la dinámica del Centro de Apertura de Datos?
            </span>
            <span class="faq-answer">
              El CAD recibirá solicitudes para abrir datos por parte del público. Una solicitud normalmente viene acompañada de un hipervínculo o URL apuntando a un recurso de información no abierto, por ejemplo, un archivo PDF con datos estadísticos o un sitio web del gobierno con datos importantes pero esparcidos por muchas páginas. Después de haber hecho una solicitud, el público votará por la que más le interese. Cada 14 días el equipo de Codeando México irá seleccionando las solicitudes más votadas.
            </span>
          </li>
          <li>
            <span class="faq-question">
              ¿Quién abrirá los recursos compartidos?
            </span>
            <span class="faq-answer">
              Cada solicitud seleccionada por Codeando México será procesada por nuestro equipo. Y promoveremos su apertura directamente o a través de eventos con comunidades de desarrolladores.
            </span>
          </li>
          <li>
            <span class="faq-question">
              ¿Cómo sé que se atendió mi solicitud?
            </span>
            <span class="faq-answer">
              Cada solicitud pasa por 3 etapas diferentes. Al crear una, ésta automáticamente pasa a la etapa de selección, en donde estará sujeta a la votación del público. Al terminar un lapso de votación, la solicitud pasará a la etapa de procesamiento, si es que fue de las más populares. Durante esta etapa, el equipo de Codeando México trabajará para abrir esos datos. Al terminar, la solicitud llegará a la etapa final y su estado cambiará a "abierto", lo cual significa que los datos estarán disponibles para su descarga. Al llegar al estado de "abierto", la solicitud mostrará una liga que apuntará  al dataset correspondiente en <a href="http://datamx.io" target="_blank">Datamx.io</a>.
            </span>
          </li>
          <li>
            <span class="faq-question">
              ¿Cuánto tiempo se tardan en abrir un recurso?
            </span>
            <span class="faq-answer">
              Depende del tamaño y de la dificultad del documento original. Un documento "difícil" es aquél que no sigue patrones de ordenamiento o está muy esparcido.
            </span>
          </li>
          <li>
            <span class="faq-question">
              ¿Esto es diferente a crear una solicitud de transparencia al IFAI?
            </span>
            <span class="faq-answer">
              Sí, El CAD atenderá solicitudes para abrir datos que ya están publicados cuyo formato no permite que los datos sean analizados y consumibles. El CAD los entregará en un formato abierto y consumible (CSV, APIs, etc). El IFAI atiende a solicitudes generales y específicas de transparencia. Para conocer más de las solicitudes de transparencia visita esta <a href="http://inicio.ifai.org.mx/_catalogs/masterpage/ifai.aspx" target="_blank">liga</a>.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

