<div class="row">
  <div class="col-md-11">
    <h1 class="site-title">Datos solicitados para abrir
      <span class="btn-group pull-right">
        <button type="button" class="btn btn-primary">Solicitar Nuevos Datos</button>
      </span>
    </h1>
  </div>
</div>
<ul class="requested-data-list">
  <% for(var i = 0; i < requestedDatas.length; i++) { %>
    <li>
      <%- partial('partials/requestedData', requestedDatas[i]) %>
    </li>
  <% } %>
</ul>
