body {
  font-family: "Open Sans", "Helvetica Neue";
  color: #333333;
  padding: 0;
  padding-bottom: 250px;
  margin: 0;
  background-color: #F4F4F4;
}

.container {
  max-width: 900px;
}

.requested-data-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
}

.requested-data div {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.requested-data .title {
  color: #464F9C;
}

.requested-data .description, .requested-data-votes {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #989898;
}

.requested-data-info {
  padding-left: 50px;
}

.requested-data-url {
  font-size: 18px;
  color: #989898;
  font-weight: 200;
}

.vote-count {
  color: #AFD69A;
  font-weight: bold;
}

.site-title {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 100;
  color: #989898;
}

.btn-hollow {
  background-color: transparent;
  border-width: 2px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 5px 30px;
}

.btn-wide {
  padding: 10px 55px;
}

.btn-purple {
  border-color: #25255B;
  color: #25255B;
}

.btn-purple:hover {
  background-color: #25255B;
  color: #FFFFFF;
}

.btn-green {
  border-color: #7BBA58;
  color: #7BBA58;
}

.btn-green:hover {
  background-color: #7BBA58;
  color: #FFFFFF;
}

.btn-red {
  border-color: #FF0000;
  color: #FF0000;
}

.btn-red:hover {
  background-color: #FF0000;
  color: #FFFFFF;
}

div.actions {
  margin: 20px 0px;
}

.disclaimer {
  text-align: center;
  background-color: #ECECEC;
  padding: 40px 240px;
}

.disclaimer h4 {
  color: #464F9C;
  font-weight: 400;
}

.disclaimer p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}

.disclaimer a {
  font-size: 16px;
  font-weight: 200;
}

.hidden form {
  position:absolute;
  left:0px;
  top:0px;
  z-index:-1;
}
