<div id="filters-n-search-wrapper" class="row">
  <% if (typeof search_term === 'undefined') { %>
    <div class="filters-n-search-col">
      Mostrar:
    </div>
    <div class="filters-n-search-col">
      <button class="btn btn-hollow btn-purple btn-thin btn-filter" onclick="location.href='/solicitudes/nuevas'">
        Nuevas
      </button>
    </div>
    <div class="filters-n-search-col">
      <button class="btn btn-hollow btn-purple btn-thin btn-filter" onclick="location.href='/solicitudes/populares'">
        Populares
      </button>
    </div>
    <div class="filters-n-search-col">
      <button class="btn btn-hollow btn-purple btn-thin btn-filter" onclick="location.href='/solicitudes/abiertas'">
        Abiertas
      </button>
    </div>
    <div class="filters-n-search-col">
      <form id="request-search-form" action="/solicitudes/busca" method="GET">
        <input id="request-search-box" type="text" name="q" placeholder="Palabras clave"></input>
      </form>
    </div>
  <% } else { %>
    <div class="filters-n-search-col">
      <button class="btn btn-hollow btn-purple btn-thin btn-filter" onclick="location.href='/solicitudes/nuevas/busca/<%= search_term %>'">
        Nuevas
      </button>
    </div>
    <div class="filters-n-search-col">
      <button class="btn btn-hollow btn-purple btn-thin btn-filter" onclick="location.href='/solicitudes/populares/busca/<%= search_term %>'">
        Populares
      </button>
    </div>
    <div class="filters-n-search-col">
      <button class="btn btn-hollow btn-purple btn-thin btn-filter" onclick="location.href='/solicitudes/abiertas/busca/<%= search_term %>'">
        Abiertas
      </button>
    </div>
    <div class="filters-n-search-col">
      <form id="request-search-form" action="/solicitudes/busca" method="GET">
        <input id="request-search-box" class="request-search-box-with-term" type="text" name="q" value="<%= search_term %>"></input>
      </form>
      <a href="/"><i class="glyphicon glyphicon-remove glyphicon-remove-search"></i></a>
    </div>
  <% } %>
</div>
