<form id="requestForm" action="/request/create" method="POST">
  <label>Título</label>
  <input type="text" name="title">
  <br />
  <label>URL</label>
  <input type="text" name="url">
  <br />
  <label>Descripción</label>
  <textarea rows="5" cols="30" name="description"></textarea>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
