<ul class="rrssb-buttons clearfix undecorated">
  <li class="goback inline left">
    <a href="javascript:history.go(-1)">
      <i id="goback-icon" class="glyphicon glyphicon-share-alt icon-flipped"></i>
    </a>
  </li>
</ul>
