<form id="voteForm" class="hidden" action="/user/giveVote" method="POST">
  <input id="voteFormRequestIdInput" type="text" name="id">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
